include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.rst
graft time_out
global-exclude *.orig *.pyc *.log *.swp
prune time_out/tests/coverage
prune time_out/.ropeproject
